body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    /* dla absolutow */
    position: relative;
}

.courtain {
    height: 50vh;
    /* transition: all 1s; */
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    position: absolute;
    width: 100%;
}

.top {
    background-color: bisque;
    animation-name: toBottom;
    top: 0;
}

.bottom {
    background-color: aqua;
    animation-name: toTop;
    bottom: 0;
}

/*
@keyframes toBottom {
    from {
        transform: translateY(-100%);
    }
    
    to {
        transform: translateY(0);
    }
}

@keyframes toTop {
    from {
        transform: translateY(100%);
    }
    
    to {
        transform: translateY(0);
    }
}*/

@keyframes toTop {
    from {
        bottom: -50vh;
    }
    
    to {
        bottom: 0;
    }
}

@keyframes toBottom {
    from {
        top: -50vh;
    }
    
    to {
        top: 0;
    }
}